name: myfirstapp
description:
publish_to:

 suffix.
version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter
  persistent_bottom_nav_bar: ^5.0.2


  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter



  flutter_lints: ^5.0.0


flutter:


  uses-material-design: true


  assets:
    - assets/

  fonts:
    - family:  Manrope
      fonts:
        - asset: assets/font/Manrope-SemiBold.ttf



